:root {
  --color-purple: rebeccapurple;
  --color-light-purple: #84a1df;
  --color-white: #fff;
}

.App {
  display: grid;
  place-items: center;
  font-family: sans-serif;
  text-align: center;
}
.Card {
  min-width: 150px;
  max-width: 200px;
  margin: 10px;
  border: 2px solid var(--color-purple);
  background-color: var(--color-light-purple);
  padding: 10px;
  border-radius: 5px;
}

button {
  background-color: var(--color-purple);
  color: var(--color-white);
  border-radius: 2px;
  padding: 5px 20px;
  border: none;
  margin: 10px;
}

button:hover {
  transform: translatey(-2px);
}
button:active {
  transform: translatey(0px);
}

.AppFooter {
  color: hotpink;
  display: grid;
  place-items: center;
}
